body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #000 50%, #C5FF4A 50%);
  }
  
  .login-container {
    text-align: center;
  }
  
  .login-text {
    color: #fff;
    font-size: 75px;
    position: absolute;
    top: 200px; 
    left: 290px; 
  }
  
  .form-group {
    margin-top: 40px; 
    text-align: left; 
  }
  
  .form-group label {
    color: #fff;
    display: block;
    margin-bottom: 8px;
    font-size: 0; 
  }
  
  .form-group input {
    width: 550px; 
    padding: 10px;
    border: none;
    border-bottom: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    outline: none;
    margin-left: 220px; 
  }
  .form-group input:focus {
    border-bottom: 3px solid #fff;
  }
  .remember-me-group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 220px; 
  }
  
  .remember-me-group input {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin-right: 8px;
    cursor: pointer;
    outline: none;
  }
  
  .remember-me-group input:checked {
    background-color: #4caf50;
  }
  
  .remember-me-label {
    color: #fff;
    color: #fff;
    margin-left: 5px; 
    font-size: 15px; 
  }
  .forgot-password {
    margin-top: -24px;
    margin-left: 660px;
  }
  
  .forgot-password-link {
    color: #4caf50;
    text-decoration: none;
  }
  
  .forgot-password-link:hover {
    text-decoration: underline;
  }
  .circle-button {
    width: 40px;
    height: 40px;
    background-color: limegreen;
    border-radius: 50%;
    margin-top: 20px; 
    margin-right: 270px; 
    position: relative;
    cursor: pointer;
    float: right; 
  }
  
  .arrow-right {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px; 
    color: black; 
    transition: transform 0.3s;
  }
  
  .circle-button:hover .arrow-right {
    transform: translate(-50%, -50%) rotate(360deg);
  }
  .signup-text {
    text-align: center;
    margin-top: 100px;
    margin-left: 212px;
    color: #fff; 
  }
  
  .signup-link {
    color: limegreen;
    text-decoration: none;
    margin-left: 5px; 
  }
  
  .signup-link:hover {
    text-decoration: underline;
  }
  .admin-login-button {
    text-align: center;
    margin-top: 90px;
    margin-left: 210px;
  }
  
  .admin-login-button button {
    background-color: #000; 
    color: limegreen;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .admin-login-button button:hover {
    background-color: #333; 
  }
  
  .NEW-container {
    position: absolute;
    top: 250px; 
    right: 230px; 
    padding: 10px;
  }
  
  .NEW-text {
    color: #fff; 
    margin: 0; 
    font-size: 100px; 
  }
  .BROKERED-container {
    position: absolute;
    top: 490px; 
    right: 300px; 
    padding: 10px;
  }
  
  .BROKERED-text {
    color: #fff; 
    margin: 0; 
    font-size: 18px; 
  }
  
  