
body {
    background-color: black;
    margin: 0;
    height: 1000px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #0e0e0e;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.navbar .logo img {
  margin-right: 10px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 50px;
}

.navbar a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}



a {
  color: white;
  font: 18px Montserrat, sans-serif;
  text-decoration: none;
}
.container {
  margin-top: 140px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
}

.level {
  color: white;
  letter-spacing: -5px;
  text-align: center;
  font: 700 96px Montserrat, sans-serif;
  margin-bottom: -25px;
}

.unlock {
  color: #fff;
  max-width: 70%;
  text-align: center;
  font: 500 24px Montserrat, sans-serif;
  margin-bottom: -30px;
}
.what {
  color: #fff;
  text-align: center;
  font: 500 24px Montserrat, sans-serif;
  font-weight: 400;
}
.button-container {
    display: flex;
    justify-content: space-around;
    gap: 48px;
    width: 60%;
}
button {
  justify-content: center;
  color: #000;
  text-align: center;
  letter-spacing: 5px;
  text-transform: uppercase;
  border-radius: 32px;
  background-color: var(--Lime-Green, #c5ff4a);
  padding: 24px;
  width: 40%;
  font: 600 16px Inter, sans-serif;
}

  .picture-container {
    max-width: 100%;
    overflow: hidden;
  }

  .carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s;
    overflow: hidden;
    cursor: grab;
  }

  .picture {
    margin: 0 10px;
    flex: 0 0 20%; /* Set width to display 3 pictures at a time */
  }

  .picture img {
    max-width: 100%;
    height: auto;
  }

  .current {
    transform: scale(1.2); /* Adjust the scale for the center picture */
  }

  .picture:not(.current) {
    transform: scale(0.8); /* Adjust the scale for non-current pictures */
    transition: transform 0.3s;
  }
