
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    z-index: 2;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 30px 0;
    display: flex;
    align-items: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.Logo img {
    margin-left: 20px;
    margin-right: 200px;
}

.nav-item {
    margin-right: 20px;
}



.image-background {
    position: absolute;
    z-index: 1;
    max-height: 1%;
    max-width: 1%;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 0;
}

.overlay p {
    font-size: 24px;
    text-align: center;
}
