body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #C5FF4A; 
}
body {
    overflow-x: hidden; 
    height:4000px;
    margin: 0;  
}

html {
    scroll-behavior: smooth;
}

.navbar a {
    transition: color 0.3s ease-in-out;
}
.navbar a:hover {
    color: #C5FF4A; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e0e0e;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.navbar .logo img {
    margin-right: 10px;
    width:200px; 
    height: auto; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.main-content {
    padding: 33px;
    text-align: center;
    font-size: 30px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.brand {
    color: white; 
    font-weight: bold;
    font-size: 30px;
    margin-right: 500px; 
    position: relative;
    top: -5px; 
}
.broker-info {
    color: white; 
    font-weight: bold;
    font-size: 10px;
    margin-right: 400px;
    position: relative;
    left:-725px;
    top:30px;
}
.rectangle {
    width: 1900px; 
    height: 670px; 
    background-color: gray; 
    border-radius: 100px 100px 0 0; 
    position: absolute;
    top: 250px; 
    left: 50%; 
    transform: translateX(-50%); 
}
.inner-rectangle {
    width: 450px; 
    height: 500px; 
    background-color: black; 
    position: relative;
    top:0px;
    left:100px;
    border-radius: 20px;
}
.red-rectangle {
    background-color: black; 
    position: relative;
    left:700px;
    top:-499px;

}

.blue-rectangle {
    background-color: black; 
    position: relative;
    left:1300px;
    top:-997px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.icon {
    display: inline-block;
    font-size: 70px;
    color: yellow; 
    margin: 270px; 
    position: relative;
    top:-1720px;
    left:-160px;
}
.special-icon1 {
    position: relative;
    right:10px; 
}
.special-icon2 {
    position: relative;
    left:-180px;
}
.text {
    position: relative;
    z-index: 1;
    top:210px;
    left:-368px;
    display: inline-block;
    font-weight: 800; 
    color: white; 
    font-size: 30px; 
    margin-left: 440px; 
}

.line {
    position: relative;
    z-index: 1;
    top:200px;
    left:-127px;
    display: inline-block;
    border: none; 
    border-top: 1px solid white; 
    margin-left: 200px ; 
    width:400px;
}

.price {
    color: white; 
    font-size: 29px; 
    font-weight: 900; 
    position: relative;
    top:-2100px;
    text-align: left;
    left:480px;
}
.price2{
    position: relative;
    margin-top: -37px;
    margin-left: 580px;
}
.price3{
    position: relative;
    margin-top: -37px;
    margin-left: 1200px;
    top:-2105px;
}
.permonth{
    position: relative;
    top:-2120px;
    margin-inline-start:500px ;
    margin-top: 10px;
    right: 110px;
    display: inline-block;
    color: white;
    font-size: 20px;

}
.buy-button {
    background-color: yellow;
    color: black;
    padding: 10px 20px;
    border: black;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    margin: 213px;
    position: relative;
    top: -2000px;
    left:-30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.check-text {
    position: relative;
    top:-2470px;
    left:-800px;
}
.yellow-check {
    color: yellow; 
    padding: 5px; 
    border-radius: 50%; 
    margin-right: 10px; 
}

.lorem-text {
    font-size: 16px; 
    color: white; 
    position: relative;
    margin-top: 30px;
    left:110px;
    top:-210px
}
.check-text2 {
    position: relative;
    top:-2855px;
    left:-190px;
}
.check-text3 {
    position: relative;
    top:-3245px;
    left:420px;
}


   

