.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e0e0e;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.navbar .logo img {
    margin-right: 10px;
    width:200px; 
    height: auto; 
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}