body {
    overflow-x: hidden; 
    height:4000px;
    margin: 0;  
}

html {
    scroll-behavior: smooth;
}

.navbar a {
    transition: color 0.3s ease-in-out;
}
.navbar a:hover {
    color: #C5FF4A; 
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0e0e0e;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}

.navbar .logo img {
    margin-right: 10px;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar li {
    margin-right: 50px;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
}

.image-background {
    position: absolute;
    margin-top: 100px;
    margin-left: 250px;
    z-index: 0;
    width: 100%;
    height: 130%;
    overflow: hidden;
}

.image-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 1;
}
.overlay h1 {
    margin-top: 500px;
    font-size: 90px;
    margin-left: 750px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700px;
  line-height: 90px;
  transform: translate(-50%, -50%);
    
}

.overlay p {
    font-size: 20px;
    margin-top: -300px;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    margin-left: 380px; 
}

.button-container {
    margin-right: 20px;
    margin-bottom: 20px;
}
.button {
    padding: 10px 20px;
    background-color: #C5FF4A; 
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 50px;
    margin-bottom: 70px;
    font-size: 18px;

}

.Courses {
    margin-bottom: -1500px;
    background-color: black; 
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Courses p {
    font-size: 18px;
    color: white;
}

.Courses h1 {
    margin-top: 120px;
    font-size: 80px;
    color: white;
}


.Courses a.button {
    margin-top: 50px;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #67a5ce;
    border-radius: 5px;
    transition: background-color 0.3s;
    z-index: 1;

}

.Courses a.button:hover {
    background-color: #2980b9;
}

.Testimonals {
    margin-bottom: -3004px;
    background-color: #C5FF4A; 
    text-align: center;
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 1622px;
}

.Testimonals p {
    font-size: 18px;
    color: rgb(0, 0, 0);
}

